.card {
    width: 350px;
    height: 540px;
    border: 1px solid navy;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 0;
    position: relative;
}


.card-img {
    text-align: center;
}


.card img {
    width: 310px;
    height: 310px;
}

.card-body {
    margin-top: 10px;
    padding-left: 10px;

}

.product-rating {
    margin-bottom: 0;
}

.product-price {
    margin-top: 3px;
}

.seller {
    margin-top: -3px;
}

.product-btn {
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    width: 100%;
    padding: 10px 12px;
    margin-top: 20px;
    background-color: coral;
    color: white;
    font-size: 18px;
}

.product-btn:hover{
    cursor: pointer;
    background-color: orange;

}

